.responsive {
    width: 100%;
    aspect-ratio: 16/9;
    }

.btn {
    background: #00c6b9;
    margin: 0 auto 24px;
    display: block;
    width: 194px;
}

.txt span {
    font-size: 17px;
    font-weight: bold;
    color: #00c6b9;
}

.btn, .ranking-item-link-buttons a, .btn-wrap > a, .wp-block-freeform .btn-wrap > a
 {
    color: #fff;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    line-height: normal;
    padding: 7px 13px;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    border: 2px solid transparent;
    position: relative;
    transition: all 0.3s ease-in-out;
 }

 .img > span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 153px;
    height: 276px;
    border-radius: 18px;
    background: rgb(29, 157, 214);
    display: block;
}

.img {
    position: relative;
    width: 100%;
    height: 357px;
    display: block;
    border: 1px solid #ddd8d8;
    border-radius: 24px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

label, a, span, p, h1, h2, h3, h4, h5, h6, div, li, ul {
    -webkit-tap-highlight-color:rgba(0,0,0,0) !important;
}